@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+TC:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffcc00;
}
/* Header */
header {
  max-width: 1240px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.head-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
.inner-head-right {
  display: flex;
  justify-content: flex-end;
}

.smallCir {
  background-color: rgb(67, 59, 32);
  border-radius: 50px;
  width: 33px;
  height: 33px;
  text-align: center;
  box-sizing: border-box;
  margin: 3px;
}

.smallCir:hover {
  background-color: rgb(22, 22, 2);
}
.smallCir i {
  margin-top: 7px;
  font-size: 20px;
  color: #ffcc00;
}

/* Nav Bar */
nav {
  max-width: 1240px;
  margin: 30px auto 0 auto;
}

ul.navi {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
nav.bg-dark {
  background-color: white !important;
  padding: 0;
}

.navi li {
  list-style-type: none;
  background-color: #ffffff;
  text-decoration: none;
  color: rgb(86, 90, 95) !important;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(86, 90, 95);
}

.navi li a {
  transition: 0.5s;
}

.dropdown-menu {
  padding: 0;
}

.nav-link {
  padding: 1.3rem 2px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.navi li a:hover {
  color: white !important;
}

.navi li:hover {
  background: rgb(52, 52, 52);
  background: radial-gradient(
    circle,
    rgba(52, 52, 52, 1) 52%,
    rgba(28, 28, 28, 1) 100%
  );
  cursor: pointer;
  color: white !important;
}

.dropdown-toggle {
  background: rgb(52, 52, 52);
  background: radial-gradient(
    circle,
    rgba(52, 52, 52, 1) 52%,
    rgba(28, 28, 28, 1) 100%
  );
  cursor: pointer;
  color: white !important;
}
.dropdown-item {
  color: rgb(86, 90, 95);
  font-family: "Open Sans", sans-serif;
  padding: 15px;
}
.dropdown-item:hover {
  background: rgb(52, 52, 52);
  background: radial-gradient(
    circle,
    rgba(52, 52, 52, 1) 52%,
    rgba(28, 28, 28, 1) 100%
  );
  cursor: pointer;
  color: white !important;
}

.navi a {
  text-decoration: none;
}

.forNav {
  padding: 0 15px;
}

/* For the main picture area */

.outer-frame {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
h2 {
  display: none;
}

.inner-frame {
  position: relative;
}
img {
  width: 100%;
}

.inside-frame {
  background-color: rgba(0, 0, 0, 0.769);
  position: absolute;
  z-index: 5;
  width: 20%;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 22px;
}
.middle {
  width: 55% !important;
  height: 160px;
}

.middle .top-inframe {
  font-size: 1.8rem;
}

.below {
  width: 45% !important;
  height: 160px;
}

.below .top-inframe {
  font-size: 1.8rem;
}

.inside-frame a {
  text-decoration: none;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
}

.top-inframe {
  border-top: solid white 2px;
  border-bottom: solid rgba(255, 255, 255, 0.372) 1px;
  width: 90%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 10px 0;
  display: block;
}

.down-inframe {
  display: block;
  border-bottom: solid white 2px;
  width: 90%;
  margin: auto;
  padding: 11px 0;
}

.under-frame {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.dot-selector {
  font-size: 10px;
  margin: 10px 5px;
  color: white;
  cursor: pointer;
  position: absolute !important;
  bottom: -48px;
  opacity: 1;
}

.dot-selector li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  opacity: 1;
}

.dot-selector .active {
  background-color: rgba(41, 41, 41, 0.858);
}

/* .under-frame i:first-child {
    color: rgb(53, 53, 53);
} */

@media (max-width: 990px) {
  .forNav {
    padding: 0 0;
  }
  nav.navbar {
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 5;
    background-color: rgb(36, 36, 36) !important;
    width: 100%;
    padding: 4px;
  }
  h2 {
    color: white;
    font-size: 0.9rem;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  header {
    margin-top: 60px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head-right {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .inside-frame {
    visibility: hidden;
  }
}

/* Here comes the main contents */
h3 {
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #353535;
}
.main-container {
  max-width: 1270px;
  margin: 45px auto 0 auto;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}
.middle-row {
  display: flex;
  justify-content: space-between;
}

.middle-row-top {
  display: flex;
  justify-content: space-between;
}

.inside-box {
  width: 23%;
}

.inside-box h4 {
  color: #353535;
  font-size: 13px;
}
.inside-box p {
  color: #7c7c7c;
  font-size: 12px;
  line-height: 1.5px;
}

.inside-box a {
  background-color: #ffcc00;
  color: #353535;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  word-spacing: 1px;
  line-height: 1;
  text-shadow: none;
  text-decoration: none;
  transition: all 0.3s;
}

.inside-box a:hover {
  background-color: #353535;
  color: #ffcc00;
}

.inside-box i {
  font-size: 2.7rem;
  color: rgba(97, 97, 97, 0.208);
}

.white-box {
  background-color: rgb(255, 255, 255);
  padding: 10px 10px 0px 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  position: relative;
}

.low-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.low-section div:first-child {
  padding: 15px;
}

.last-child {
  right: 15px;
  bottom: 15px;
  position: absolute;
}

@media (max-width: 770px) {
  .middle-row {
    display: block;
  }
  .inside-box {
    width: 100%;
    margin-bottom: 27px;
  }

  .inside-box img {
    width: 70%;
  }
  .arctic {
    width: 80% !important;
  }
  .right-section {
    width: 100% !important;
  }
  .right-section img {
    width: 80%;
  }
  .last-box img {
    width: 100%;
  }

  .for-container {
    display: block !important;
  }

  .footer-container {
    width: 100% !important;
    margin-top: 25px;
  }
}
/* middle section of the main content */
.forFlex {
  display: flex;
  justify-content: space-between;
}
.left-mid-container {
  margin-top: 30px;
  width: 23%;
}

.middle-inside-box {
  width: 100%;
}
.middle-white-box {
  display: flex;
  padding: 0;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ffffff),
    color-stop(100%, #f7f7f7)
  );
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
}

.left-side-box1 {
  padding: 0 15px;
  box-sizing: border-box;
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-side-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(63, 63, 63);
  padding: 0 15px;
  box-sizing: border-box;
}

.left-side-box2 h5,
.left-side-box1 h5 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  line-height: 1;
  font-family: "Fjalla One", sans-serif;
}

.add-yellow-line {
  border-bottom: #ffcc00 solid 1px;
  display: inline-block;
  transition: all 0.5s;
}

.add-yellow-line:hover {
  border-bottom: rgb(63, 63, 63) solid 1px;
}

.left-side-box2 p,
.left-side-box1 p {
  margin-bottom: 0.6rem;
  font-size: 10px;
}

.left-side-box2 h6,
.left-side-box1 h6 {
  color: rgb(255, 255, 255);
  font-family: "Fjalla One", sans-serif;
  font-size: 15px;
  margin-bottom: 0rem;
}

@media screen and (max-width: 960px) {
  .middle-white-box {
    display: block;
  }

  .left-side-box2,
  .left-side-box1 {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .left-side-box2 h5,
  .left-side-box1 h5 {
    font-size: 13px;
    line-height: normal;
    font-weight: normal;
  }

  .left-side-box2 h6,
  .left-side-box1 h6 {
    font-size: 13px;
    font-weight: normal;
  }

  .left-side-box2 p,
  .left-side-box1 p {
    font-size: 13px;
    margin-top: 7px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media screen and (max-width: 770px) {
  .left-mid-container {
    margin-top: 30px;
    width: 100%;
  }
  .middle-white-box {
    display: flex;
    padding: 0;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #ffffff),
      color-stop(100%, #f7f7f7)
    );
    background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
  }

  .left-side-box1 {
    padding: 0 15px;
    box-sizing: border-box;
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .left-side-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(63, 63, 63);
    padding: 0 15px;
    box-sizing: border-box;
  }

  .left-side-box2 h5,
  .left-side-box1 h5 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 1;
    font-family: "Fjalla One", sans-serif;
  }

  .add-yellow-line {
    border-bottom: #ffcc00 solid 1px;
    display: inline-block;
    transition: all 0.5s;
  }

  .add-yellow-line:hover {
    border-bottom: rgb(63, 63, 63) solid 1px;
  }

  .left-side-box2 p,
  .left-side-box1 p {
    margin-bottom: 0.6rem;
    font-size: 10px;
  }

  .left-side-box2 h6,
  .left-side-box1 h6 {
    color: rgb(255, 255, 255);
    font-family: "Fjalla One", sans-serif;
    font-size: 15px;
    margin-bottom: 0rem;
  }

  .forFlex {
    display: block;
  }
  .fairly-middle {
    width: 100% !important;
  }
}

.lower-inside-box {
  width: 100% !important;
}

/* left middle section */

.middle-left {
  margin-top: 20px;
}

.lower-part-section {
  margin-top: 20px;
}

.sentences {
  display: grid;
  grid-template-columns: 33% 33% 33%;

  background-color: rgb(255, 255, 255);
}

/* the lowest left section */

.lowest-section {
  margin-top: 20px;
}
.sentences div {
  padding: 4px;
}
.sentences p {
  font-size: 13px;
  color: #7c7c7c;
  margin: 0 2px;
}

/* Middle of the middle with in middle section lol */
.fairly-middle {
  margin-top: 29px;
  width: 48.7%;
}
.img-section {
  position: relative;
}
.black-box {
  display: inline-block;
  position: absolute;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 5px solid #ffcc00;
  bottom: -5px;
  left: 33px;
}
.black-box p {
  color: #8a8a8a;
  font-size: 10px;
  margin: 0 0 5px 0;
}
.under-img-section {
  background-color: #ffffff;
  padding: 28px;
}
.under-img-section h4 span {
  border-bottom: solid 1px #ffcc00;
  color: #353535;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
}
.under-img-section h4 span:hover {
  border-bottom: solid 1px #353535;
  outline: 0;
  text-decoration: none;
}
.under-img-section .p1 {
  font-size: 12px;
  margin: 18px 0 15px 0;
  border-top: double 3px #f1f1f1;
  border-bottom: double 3px #f1f1f1;
  padding: 5px 0;
  color: #626262;
}
.under-img-section .p1 span {
  border-bottom: solid 1px #ffcc00;
  color: #353535;
  cursor: pointer;
  transition: 0.3s;
}
.under-img-section .p1 span:hover {
  border-bottom: solid 1px #353535;
  outline: 0;
}
.under-img-section .p2 {
  line-height: 1.8;
  color: #6f6e6e;
  font-size: 14px;
  margin-bottom: 0;
}

.section-middle {
  margin-top: 28px;
}

.next-page {
  margin-top: 29px;
  display: flex;
  cursor: pointer;
}

.page1 {
  background: #353535;
  color: #ffcc00;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  margin-right: 10px;
  border: none;
}
.page2 {
  cursor: pointer;
  color: #353535;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  margin-right: 10px;
  border: none;
  transition: 0.3s;
}
.page2:hover {
  color: #ffffff;
  background: #353535;
}
.pageNext {
  border-bottom: solid 1px #ffcc00;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  background: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  margin-right: 10px;
  border: none;
  transition: 0.3s;
}
.pageNext:hover {
  color: #ffffff;
  background: #353535;
}

.pageNext span {
  font-size: 6px;
}
/* right section */

.right-section {
  margin-top: 29px;
  width: 23%;
}

.right-top-midde {
  padding: 10px;
}

.another-white-box {
  background-color: #ffffff;
}

.right-top-midde h4 {
  font-size: 13px;
  line-height: 1;
  margin: 0 0 5px 0;
  color: #353535;
  font-weight: 700;
}

.right-top-midde p {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  color: #7c7c7c;
  font-style: normal;
}

.right-top-lower {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 37%,
    rgba(240, 240, 240, 1) 100%
  );
  display: flex;
  padding: 8px 10px;
  justify-content: space-between;
}

.right-rihgt-icon {
  align-self: center;
}

.right-rihgt-icon a i {
  font-size: 1.8rem;
  color: rgb(82, 82, 82);
}

.right-fairly-middle {
  margin-top: 29px;
}

/* right-lower-part */

.right-lower-section {
  margin-top: 29px;
}
.right-lower-box {
  display: flex;
}

.right-lower-section img {
  width: 90px;
  height: 90px;
}
.right-right-section {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 37%,
    rgba(240, 240, 240, 1) 100%
  );
  padding: 10px;
}

.right-right-section h4 {
  font-size: 13px;
  line-height: 1;
  margin: 0 0 5px 0;
  color: #353535;
}
.right-right-section p {
  font-size: 12px;
  line-height: 1;
  margin: 0;
  color: #7c7c7c;
  font-style: normal;
  margin-bottom: 10px;
}
.right-right-section a {
  background-color: #ffcc00;
  color: #353535;
  font-size: 10px;
  font-weight: bold;
  padding: 7px 12px 6px 12px;
  word-spacing: 1px;
  line-height: 1;
  text-shadow: none;
  text-decoration: none;
  transition: all 0.3s;
}

.right-right-section a:hover {
  background-color: #353535;
  color: #ffcc00;
}

.theLastBox {
  margin-top: 29px;
}

.last-box {
  width: 100%;
}

.last-section {
  padding: 10px 0;
  box-sizing: border-box;
}
.last-section h4 {
  margin-bottom: 3px;
  font-weight: 700;
}

.white-background {
  background-color: white;
}

/* footer section */
footer {
  background-color: rgb(53, 53, 53);
}
.for-container {
  max-width: 1240px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 15px;
}

.footer-container {
  width: 23%;
}

.footer-container h3 {
  font-size: 20px;
  margin: 0 0 10px 0;
  line-height: 1;
  color: #fff;
}
.footer-container p {
  color: #fff;
  font-size: 13px;
  line-height: 1.5;
}

.footer-container a {
  text-decoration: none;
  color: #ffcc00;
}

.nine-grid {
  display: flex;
  flex-wrap: wrap;
}

.nine-grid div {
  width: 33.3%;
}

.footer-grid {
  display: flex;
}

.footer-photo img {
  width: 90px;
  height: 90px;
}

.footer-grid h3 {
  font-size: 17px;
  line-height: 1.5;
}

.footer-grid p {
  font-size: 12px;
  font-style: normal;
  line-height: 1;
  margin: 0;
}
.footer-word {
  padding: 10px 5px 0 7px;
}

.aline {
  text-decoration-line: line-through;
}

.for-line {
  border-top: 1px solid rgba(128, 128, 128, 0.399);
  border-bottom: 1px solid rgba(128, 128, 128, 0.399);
}
